.p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70;
}

.p2 {
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 70;
}

.p3 {
    font-family: 'Creepster', sans-serif;
    font-size: 70;
}

.p4 {
    font-family: 'Averia Libre', sans-serif;
    font-size: 70;
}

.p5 {
    font-family: 'The Nautigal', sans-serif;
    font-size: 70;
}