header {
    background-color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

#parent {
    background-color: rgb(0, 0, 130);
    width: 1000px;
    height: 700px;
}

#child {
    background-color: rgb(255, 255, 0);
    width: 50%;
    height: 50%;
}