body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 500px;
    transition: 1s;
}

img:hover {
    transform: rotateX(360deg) translateX(-500px) translateY(300px);
}

img:active {
    transform: rotateX(90deg) scale(0.7);
}