#p1 {
    font-family: 'Poppins', sans-serif;
}

#p2 {
    font-family: 'Bebas Neue', sans-serif;
}

#p3 {
    font-family: 'Doto', sans-serif;
}

#p4 {
    font-family: 'Yeseva One', sans-serif;
}

#p5 {
    font-family: 'Oleo Script', sans-serif;
}