.parent {
    display: grid;
    height: 450px;
    width: 340px;
    border: 5px solid green;
    gap: 20px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.child {
    background-color: red;
}